/* apaga os imports anteriores e coloca somente esse */
@import "tailwindcss";

/* não usamos mais o tailwind config, agora tudo dentro do css input, as cores por exemplo colocamos dentro de theme */
@theme{
  --color-verde-200: #ECFFAB;
  --color-verde-300: #8EFFBA;
  --color-verde-400: #01FFD0;
  --color-verde-700: #01FFD0;

  --font-sans: 'DM Sans', 'system-ui', 'sans-serif';
  --font-serif: 'DM Serif Text', 'Georgia', 'serif';

  --animate-slide-in: slideIn 0.4s ease-in-out forwards;
  --animate-fade-in: fadeIn 0.4s ease-in-out forwards;

  @keyframes slideIn{
    0%{
      opacity: 0;
      transform: translateX(-20px);
    }
    100%{
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fadeIn{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
}

/* para modificar classes utilitarias como conainer se usa o utility agora */
@utility container{
  margin: 0 auto;
  padding: 0 1rem;
  @media(width >= 40rem){
    padding: 0 1rem;
  }
}

/* o delay se cria com utilidade tbm */
@utility animate-1{
  animation-delay: 100ms;
}

@utility animate-2{
  animation-delay: 200ms;
}

@utility animate-3{
  animation-delay: 300ms;
}

@utility animate-4{
  animation-delay: 400ms;
}

/* inidicando que estão na camada de componentes */
/* o theme da versão 3 ira ficar depreciado, pra isso usamos outra solucao que é usar a variavel css, o bg-gradient tbm esta depreciado agora é bg-linear pois tem mais gradiente incluindo o radial*/
@layer components{
  .neon{
    /* com apply consigo adicionar os estilos */
    @apply rounded-full border border-verde-200 bg-linear-to-b from-verde-200 to-verde-400;
    /* posso escrever valores fora sem precisar usar arbitrarios no apply, a funcao theme pega qualquer valor do tema, por isso conseguimos puxar a cor do tema por exele*/
    box-shadow: 0 1px 4px 1px rgba(var(--color-verde-200), 0.25), inset 0px -1px 2px var(--color-verde-200);
  }

  .btn{
    @apply rounded-full border border-verde-200 bg-linear-to-b from-verde-200 to-verde-400 text-verde-900 px-5 py-2 transition hover:contrast-200;
    box-shadow: 0 1px 4px 1px rgba(var(--color-verde-200), 0.25), inset 0px -1px 2px var(--color-verde-200);
  }

  .input{
    @apply rounded-md border-2 border-verde-800 bg-verde-800 p-2 text-white focus:outline-none focus:ring-2 focus:ring-verde-400 focus:border-verde-900 placeholder:text-verde-900;
  }

  .radial-gradient{
    @apply bg-radial-[50%_100%_at_50%_0%] from-verde-700 to-verde-800;
  }
}